<div class="row">
	<div class="col-md-12">
		<div class="form-group mb">
			<form ng-submit="searchApks()">
				<div class="input-group mb-sm" ng-class="{'has-error': searchError}">
					<input type="text" ng-model="$root.search" placeholder="Search by hash, appname, developer, package_name, tag, detected, analyzed, rating, certificate, size or date" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">Search</button>
					</span>
				</div>
				<p class="help-block ml mb0 mt0" ng-show="$root.section == 'apks' && !loading">Showing {{ totalApks | number }} result/s</p>
				<p class="help-block ml mb0 mt0" ng-show="loading">
					<i>
						<i class="fa fa-spinner fa-spin fa-fw"></i> Loading...
					</i>
				</p>
				<p class="help-block ml mb0 mt0" ng-show="!loading && !apks.length">
					<i>There is no apks for your search.</i>
				</p>

				<div>
					<i class="text-danger ml" ng-show="searchError">{{ searchError }}</i>
				</div>
			</form>
		</div>

		<button class="btn btn-default pull-right btn-xs" ng-show="totalApks > 0 && $root.user.username && ruleset.analyst.username == $root.user.username" ng-click="removeMatches()" ng-disabled="removingMatches">
			<span>Remove {{ totalApks | number }} matches</span>
		</button>

		<div class="clearfix"></div>

		<div class="panel mb" ng-repeat="apk in apks">
			<div class="table-responsive">
			  <table class="table">
				 <tbody>
					<tr>
					   <td class="b0 wd-xxs text-center">
						  <p>
							 <a href ng-click="voteUp(apk)">
								<em class="fa fa-angle-up fa-lg"></em>
							 </a>
						  </p>
						  <p>
						  	<span class="label" ng-class="{'label-success': apk.rating > 0, 'label-danger': apk.rating < 0, 'label-info': apk.rating == 0}">{{ apk.rating }}</span>
						  </p>
						  <p class="mb0">
							 <a href ng-click="voteDown(apk)">
								<em class="fa fa-angle-down fa-lg"></em>
							 </a>
						  </p>
					   </td>
					   <td class="b0 wd-xs">
						  <a href="/apks/{{ apk.sha256 }}">
						  	  <img src="assets/img/dummy.png" alt="" class="img-responsive thumb64" ng-hide="apk.image">
							  <img ng-src="{{ apk.image }}" alt="" class="img-responsive thumb64" ng-show="apk.image">
						  </a>
					   </td>
					   <td class="b0">
						  <p class="h4 mt0">
							 <a href="/apks/{{ apk.sha256 }}" class="align-middle text-bold link-unstyled">
							 	{{ apk.app || 'Unknown app name'}}
							 </a>
							 <a class="align-middle" href="/apks?search=package_name:'{{ apk.package_name }}'">
							 	({{ apk.package_name }})
							 </a>
							 <span class="label label-danger ml" ng-show="apk.corrupted">Corrupted</span>
							 <a href="/apks?search=tag:{{tag}}" class="label label-info mr-sm" ng-repeat="tag in apk.tags">{{ tag }}</a>
						  </p>
						  <small class="text-muted">{{ apk.sha256 }}
							 <br>{{ apk.created_on * 1000 | date:"medium" }} - <a href="/apks?search=developer:'{{ apk.company }}'" class="text-bold">{{ apk.company }}</a>
						  </small>
					   </td>
					</tr>
				 </tbody>
			  </table>
		   </div>
		</div>
	</div>
</div>